In [ ]:
import pandas as pd 
import numpy as np

# visualization 
import matplotlib.pyplot as plt
import seaborn as sns 

 # Feature Engineering
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
# scaling 
from sklearn.preprocessing import StandardScaler
# splitting 
from sklearn.model_selection import train_test_split

In [ ]:
data=pd.read_csv('kiva_loans.csv')

In [ ]:
df=data.copy()

In [ ]:
# _________________________________Neened functions for EDA _____________________

# _________________To find  the count of male an female 

def get_male_count(x):
    count = 0
    for gender in str(x).split(', '):
        if gender == 'male':
            count += 1
    return count

def get_female_count(x):
    count = 0
    for gender in str(x).split(', '):
        if gender == 'female':
            count += 1
    return count


# # ______ to defiende th loan_statuse
def dff(x):
    if x ==0:
        return "completed"
    else:
        return "Not Completed"

# # ______ to rank the partners 
# def partner_rank(x):
#     if x >= 100000:
#         return "Dimond"
#     elif x < 100000 and x>= 50000 :
#         return "Golden"
#     elif x < 50000 and x>= 10000 :
#         return "Silver"
#     elif x < 10000 :
#         return "Bronze"
# _____________________________________________________

#  _____drop Unused coulmns
#  _____date column is repeted coulmn 
df = df.drop(['partner_id','id', 'tags','use','country_code','disbursed_time','region','term_in_months','currency'], axis=1)

# ______to finde the diffrance btween loan_amount and funded_amount
df['difference']= df['loan_amount'] - df['funded_amount']

#  _____ to remove an outliear that loan_amount < funded_amount
df.drop(df[df['difference']<0].index,inplace=True)


# ______convert oject to date time data type 
df['posted_time']=pd.to_datetime(df['posted_time'].str.strip(), format='%Y/%m/%d')
df['funded_time']=pd.to_datetime(df['funded_time'].str.strip(), format='%Y/%m/%d')

# ______get just the data 
df['posted_time']= [d.date() for d in df['posted_time']]
df['funded_time']= [d.date() for d in df['funded_time']]

# _____calculate the Execution_Time
df['Execution_Time']= df['funded_time']- df['posted_time']

# _____ to rank the partner into 4 categorize
# df["partner_rank"] = df["partner_id"].value_counts().map(partner_rank)

# ______apply the get_male_count and get_female_count functions 
df['male_count'] = df['borrower_genders'].apply(get_male_count)
df['female_count'] = df['borrower_genders'].apply(get_female_count)

# ______loan_statuse
df['loan_statuse']=df['difference'].map(dff)

# ______drop after it used 
df = df.drop(['borrower_genders','posted_time','funded_time'], axis=1)

In [ ]:
df.sample(2)

        funded_amount  loan_amount  ... female_count loan_statuse
137907         2575.0       2575.0  ...           15    completed
9245            475.0        475.0  ...            1    completed

[2 rows x 13 columns]

In [ ]:
df['Execution_Time']=df['Execution_Time'].fillna('0')

In [ ]:
df.isna().sum()

funded_amount         0
loan_amount           0
activity              0
sector                0
country               0
lender_count          0
repayment_interval    0
date                  0
difference            0
Execution_Time        0
male_count            0
female_count          0
loan_statuse          0
dtype: int64

In [ ]:
# To save the dataset 
# df.to_csv('Kiva.csv')